# This is an example .env file for SimpleSite (pip install quart-simplesite)

# When using a login form or the 'secure'-tag on any endpoint, you are required
# to have set both DEF_USER and DEF_PASS to any string. DEF_USER is going to be
# your username. If you have not set DEF_USER and DEF_PASS to any value but use
# login/secure-tag, your application will return an error with a hint to fix does
# values.
DEF_USER=

# This is your default password. It is highly recomended to use a password that is
# at least 12 characters long. The default template requires your password to be
# at least 6 characters long.  
DEF_PASS=

# Other than the password this is the most important piece. It is the key that is
# used in securing the website. Any token/login will use this key for encryption.
# It is recommended to use something like secrets.url_safe(12). A key should have
# at least 12 characters (randomized, no pattern). Best would be 32 characters.
SECRET_KEY=

# If a database should be used. If deactivated, you cannot use forms. A login will
# use .env for login data if deactivated (plain text comparison / insecure). Else it
# will use argon2 (hashing) and compares hashes.
USE_DB=

# --- CURRENTLY UNUSED ---

# A default styling managed by CSS. If left empty/unset it stays unstylized.
DEFAULT_STYLE=

# Script injection / template injection using JS, id or CSS classes. If 
# unset or set to false it will continue injecting the custom elements,
# however, if true it will inject custom elements automatically according to CSS classes
CLASS_INJECT= 